<h1>Listing klants</h1>

<table>
  <tr>
    <th>Voornaam</th>
    <th>Achternaam</th>
    <th>Geslacht</th>
    <th>Geboortedatum</th>
    <th>Email</th>
    <th>Creditcard</th>
    <th>Postcode</th>
    <th>Huisnummer</th>
  </tr>

<% for klant in @klants %>
  <tr>
    <td><%=h klant.voornaam %></td>
    <td><%=h klant.achternaam %></td>
    <td><%=h klant.geslacht %></td>
    <td><%=h klant.geboortedatum %></td>
    <td><%=h klant.email %></td>
    <td><%=h klant.creditcard %></td>
    <td><%=h klant.postcode %></td>
    <td><%=h klant.huisnummer %></td>
    <td><%= link_to 'Show', klant %></td>
    <td><%= link_to 'Edit', edit_klant_path(klant) %></td>
    <td><%= link_to 'Destroy', klant, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New klant', new_klant_path %>
