<div style="background-color:#ccc; width:559px; padding:10px">
<table width="559px" border="0" align="center" cellpadding="2" bgcolor="#ffffff" >
<tr><td background="#ffffff" height="50px" valign="top">
<h1>Welkom bij YourMusicStore.nl</h1>

<p><%= link_to 'Nummers', nummers_path %></p>
<p><%= link_to 'Albums', albums_path %></p>
<p><%= link_to 'Klanten', klants_path %></p>
<p><%= link_to 'Medewerkers', medewerkers_path %></p>
<p><%= link_to 'Aankopen', aankoops_path %></p>
<p><%= link_to 'Commentaar', commentaars_path %></p>
<p><%= link_to 'Producten', products_path %></p>
<p><a href="/upload">upload</a></p>
</td></tr>
</table>
</div>