<div style="background-color:#cccccc; width:559px; padding:10px">
<table width="559px" cellpadding="2" style="background-color:#ffffff; align:center; border:0">
<tr><td valign="top" style="background-color:#ffffff; height:50px">
<h1>Welkom bij YourMusicStore.nl</h1>

<p><%= link_to 'Nummers', nummers_path %></p>
<p><%= link_to 'Albums', albums_path %></p>
<p><%= link_to 'Klanten', klants_path %></p>
<p><%= link_to 'Medewerkers', medewerkers_path %></p>
<p><%= link_to 'Aankopen', aankoops_path %></p>
<p><%= link_to 'Commentaar', commentaars_path %></p>
<p><%= link_to 'Producten', products_path %></p>
<p><a href="/upload">upload</a></p>
</td></tr>
</table>
</div>
