<h1>Listing albums</h1>

<table width="559px">
	<% for album in @albums %>
 <tr>
    <td rowspan="6"><img src=" <%=h album.coverart %> " height="100px" width="100px"/></td>
    <td>artiest:</td>
    <td><%=h album.artiest %>&nbsp;</td>
  </tr>
  <tr>
    <td>album:</td>
    <td><%=h album.titel %>&nbsp;</td>
  </tr>
    <tr>
    <td>lengte:</td>
    <td><%=h album.lengte %>&nbsp;</td>
  </tr>
    <tr>
    <td>jaar:</td>
    <td><%=h album.jaar %>&nbsp;</td>
  </tr>
  <tr>
    <td>genre:</td>
    <td><%=h album.genre %>&nbsp;</td>
  </tr>
  <tr>
    <td>prijs:</td>
    <td><%=h album.prijs %>&nbsp;</td>
  </tr>
	<td></td>
    <td>acties:</td>
    <td><%= link_to 'Show', album %> <%= link_to 'Edit', edit_album_path(album) %> <%= link_to 'Destroy', album, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New album', new_album_path %>