<p>
  <b>Product:</b>
  <%=h @commentaar.product.titel %>
</p>

<p>
  <b>Klant:</b>
  <%=h @commentaar.klant.naam_omgekeerd %>
</p>

<p>
  <b>Text:</b>
  <%=h @commentaar.text %>
</p>

<p>
  <b>Rating:</b>
  <%=h @commentaar.rating %>
</p>


<%= link_to 'Edit', edit_commentaar_path(@commentaar) %> |
<%= link_to 'Back', commentaars_path %>
