<h1>Listing nummers</h1>

<table>
  <tr>
    <th>Titel</th>
    <th>Prijs</th>
    <th>Jaar</th>
    <th>Artiest</th>
    <th>Album</th>
    <th>Genre</th>
    <th>Lengte</th>
    <th>Tracknr</th>
  </tr>

<% for nummer in @nummers %>
  <tr>
    <td><%=h nummer.titel %></td>
    <td><%=h nummer.prijs %></td>
    <td><%=h nummer.jaar %></td>
    <td><%=h nummer.artiest %></td>
    <td><%=h nummer.album %></td>
    <td><%=h nummer.genre %></td>
    <td><%=h nummer.lengte %></td>
    <td><%=h nummer.tracknr %></td>
    <td><%= link_to 'Show', nummer %></td>
    <td><%= link_to 'Edit', edit_nummer_path(nummer) %></td>
    <td><%= link_to 'Destroy', nummer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New nummer', new_nummer_path %>
