<h1>New product</h1>

<% form_for(@product) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :titel %><br />
    <%= f.text_field :titel %>
  </p>
  <p>
    <%= f.label :prijs %><br />
    <%= f.text_field :prijs %>
  </p>
  <p>
    <%= f.label :jaar %><br />
    <%= f.date_select :jaar, :start_year => 1900, :end_year => 2200, :include_blank => true %>
  </p>
  <p>
    <%= f.label :artiest %><br />
    <%= f.text_field :artiest %>
  </p>
  <p>
    <%= f.label :genre %><br />
    <%= f.text_field :genre %>
  </p>
  <p>
    <%= f.label :lengte %><br />
    <%= f.text_field :lengte %>
  </p>
  <p>
    <%= f.label :coverart %><br />
    <%= f.text_field :coverart %>
  </p>
  <p>
    <%= f.label :tracknr %><br />
    <%= f.text_field :tracknr %>
  </p>
  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', products_path %>
